In [9]:
import csv
import pandas as pd
import time
import datetime

In [10]:
colnames=['SOURCE', 'TARGET', 'RATING', 'TIME'] 
df = pd.read_csv('soc-sign-bitcoinalpha.csv.gz', names=colnames, header=None)
df.drop('RATING', axis=1)
df['TIME'] = pd.to_datetime(df['TIME'], unit='s')
df

       SOURCE  TARGET  RATING                TIME
0        7188       1      10 2014-08-08 04:00:00
1         430       1      10 2013-08-15 04:00:00
2        3134       1      10 2013-05-28 04:00:00
3        3026       1      10 2012-10-12 04:00:00
4        3010       1      10 2012-09-17 04:00:00
...       ...     ...     ...                 ...
24181    7604    7601      10 2013-03-26 04:00:00
24182    7601    7604      10 2013-03-26 04:00:00
24183    7604    7602      10 2013-03-26 04:00:00
24184    7602    7604      10 2013-03-26 04:00:00
24185    7604    7603     -10 2013-03-26 04:00:00

[24186 rows x 4 columns]

In [11]:
df[df['TIME']=='2014-08-08 04:00:00']

       SOURCE  TARGET  RATING                TIME
0        7188       1      10 2014-08-08 04:00:00
2231       36       5       3 2014-08-08 04:00:00
3349        8    2344       1 2014-08-08 04:00:00
10856      58     321       1 2014-08-08 04:00:00